.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 20px;
    width: calc(4 * 100px + 6 * 5px);
    margin: 400px;
    margin-top: 100px;

}
.lettre {
    background-color: rgb(255, 255, 255);
    color: #6682f3;
    width: 150px;
    height: 150px;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #6682f3;
}